[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mdipenta
[access "refs/for/refs/*"]
	read = group user/mdipenta
	push = group user/mdipenta
	label-Code-Review = -2..+2 group user/mdipenta
	label-Verified = -1..+1 group user/mdipenta
	rebase = group user/mdipenta
	removeReviewer = group user/mdipenta
	submit = group user/mdipenta
[access "refs/heads/*"]
	read = group user/mdipenta
	create = group user/mdipenta
	push = +force group user/mdipenta
	pushMerge = group user/mdipenta
[access "refs/tags/*"]
	push = group user/mdipenta
	push = +force group user/mdipenta
